html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: black;
}

/*Header Section*/
.banner-img {
  background: url("../images/glasses-bg.png") top center / cover;
  height: 31rem;
  padding-top: 1rem;
}

/*Subheader Logo Area*/
.logo-cont {
  display: inline-flex;
  align-items: center;
}

.logo-cont img {
  padding: 0 1rem 0 2rem;
  height: 1.5rem;
}

.logo-cont p {
  font-size: 1rem;
  color: white;
  display: inline-flex;
}

/*Menu*/
nav {
  width: 960px;
  background-color: cadetblue;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.links-cont {
  display: inline-flex;
  padding: 1rem 0;
}

.links-cont li {
  list-style-type: none;
  display: inline-flex;
  color: white;
  padding-right: 2rem;
}

/*White Box*/
.white-box-cont {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.white-box {
  display: inline-flex;
  margin: 10rem -2rem 0 0;
  background-color: white;
  padding: 1.5rem 5rem;
}

.white-box p {
  display: inline-flex;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/*Body Section*/
.body-cont {
  width: 960px;
  margin: 0 auto;
  height: auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-top: 3rem;
}

.box {
  display: inline-flex;
  flex-direction: column;
  padding: 0 3rem;
  width: 5rem;
  height: 8rem;
}

.icon-cont {
  display: flex;
  height: 5rem;
  width: 5rem;
  justify-content: center;
  align-items: flex-start;
}

.icon-cont img {
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
}

.comp .icon-cont img {
  width: 70%;
  padding-left: 2rem;
}

.box p {
  display: inline-flex;
  text-align: center;
  line-height: 1.3;
}

/*Content Section*/
.text-content {
  display: flex;
  width: 960px;
  margin: 3rem 12.5% 0;
}

.text-cont {
  width: 35%;
  margin-right: 5%;

}

.text-cont .phil {
  padding-right: 5%;
}

.title {
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  width: 60%;
  height: 2rem;
  align-items: center;
}

.title p {
  display: flex;
  margin-left: 1.25rem;
  color: white;

}

.text p {
  margin: 1rem 0 5rem 0;
  line-height: 1.5;
}

/*Footer Section*/
footer {
  width: 960px;
  display: flex;
  background-color: azure;
  height: 9.5rem;
  align-items: center;
  margin: 0 auto;
}
 footer img {
   height: 1.5rem;
   margin: 0  1rem 0  4rem;
 }
  footer p {
    font-size: 0.75rem;
  }

/*First Breakpoint*/
@media only screen and (max-width: 970px) {

  /*Header Section*/
  .banner-img {
    padding-top: 0;
    height: 22rem;
  }

  nav {
    width: 100%;
  }

  .white-box-cont {
    width: 100%;
  }

  .white-box {
    margin: 5rem 2rem 0 0;
    padding: 0.75rem 4rem;
  }

  .white-box p {
    font-size: 1.5rem;
  }

  /*Body Section*/
  .body-cont {
    width: 100%;
  }

  /*Content Section*/
  .text-content {
    width: 80%;
  }

  .text-cont {
    margin-right: 10%;
    width: 40%;
  }

  .title {
    width: 80%;
  }

  /*Footer Section*/
  footer {
    width: 100%;
  }
}


@media only screen and (max-width: 675px) {

  /*Header Section*/
  .logo-cont p {
    display: none;
  }

  .banner-img {
    height: 17rem;
    background-position: 20%;
  }

  .logo-cont {
    padding: 0.75rem 0;
  }

  /*Menu*/
  .links-cont ul {
    display: none;
  }

  /*White Box*/
  .white-box-cont {
    width: 100%;
    margin-top: 9rem;
  }

  .white-box {
    margin: 0 auto;
    width: 100%;
  }

  .white-box p {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
  }

  /*Body Section*/
  .icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3.77rem 0;
  }

  .icon-cont {
    height: 3rem;
  }

  .comp .icon-cont img {
    padding: 0;
  }

  .box {
    margin-bottom: 2.54rem;
    height: auto;
  }

  .box.comp {
    padding: 0;
    width: 7rem;
    align-items: center;
  }

  .box.fast {
    margin-bottom: 0;
  }

  .box p {
    text-align: center;
    width: 100%;
    font-size: 0.77rem;
    margin-top: 1.8rem;
  }

  .box.cust p {
    margin-top: 0.15rem;
  }

  .box.fast p {
    margin-top: 0.6rem;
  }

  /*Content Section*/
  .text-content {
    display: block;
    margin: 0;
    width: 100%;
  }

  .text-cont {
    width: 100%;
  }

  .title {
    width: 100%;
    justify-content: center;
  }

  .title p {
    margin-left: 0;
  }

  .text {
    width: 95%;
    margin: 0 auto;
  }

  .text p {
    margin: 1rem 0 4rem;
  }

}
